/?*
/?*/
!/gradle/
!/launcher/
!/src/
!/.gitignore
!/turboshell.ico
!**/?*.gradle
!**/?*.txt
!**/?*.md
!**/?*.cmd
!**/?*.bat
!**/?*.iml

# as per IntelliJ docs
!.idea/
**/.idea/workspace.xml
**/.idea/tasks.xml
